.container {
  font-weight: 700;
  text-align: center;

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }
}

.linkContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  line-height: 0;
}

.link {
  z-index: 10;
  width: 100%;
  padding: 0.75rem 0;
  border-radius: var(--rounded);

  @media (width >= 48rem) {
    padding: 1rem 0;
  }

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-100));
      background: rgb(var(--gray-500) / 20%);
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--gray-100));
    background: rgb(var(--gray-500) / 20%);
  }
}

.linkDisabled {
  z-index: 10;
  width: 100%;
  padding: 0.75rem 0;
  color: rgb(var(--gray-500));
  pointer-events: none;
  border-radius: var(--rounded);

  @media (width >= 48rem) {
    padding: 1rem 0;
  }
}

.linkIcon {
  width: 1rem;
  height: 1rem;
}

.information {
  position: relative;
  inset: auto auto 1.9rem;
  font-size: var(--text-xs);

  @media (width >= 48rem) {
    inset: auto auto 2.3rem;
    font-size: var(--text-sm);
  }
}
