.container {
  font-weight: 700;
  text-align: center;
}

@media (width >= 768px) {
  .container {
    font-size: var(--text-base);
  }
}

.linkContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  line-height: 0;
}

.link {
  border-radius: var(--rounded);
  padding: 0.75rem 0;
  width: 100%;
  z-index: 10;
}

@media (width >= 768px) {
  .link {
    padding: 1rem 0;
  }
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--gray-500) / 20%);
    color: rgb(var(--gray-100));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-500) / 20%);
  color: rgb(var(--gray-100));
}

.linkDisabled {
  border-radius: var(--rounded);
  color: rgb(var(--gray-500));
  padding: 0.75rem 0;
  pointer-events: none;
  width: 100%;
  z-index: 10;
}

@media (width >= 768px) {
  .linkDisabled {
    padding: 1rem 0;
  }
}

.linkIcon {
  height: 1rem;
  width: 1rem;
}

.information {
  font-size: var(--text-xs);
  inset: auto auto 1.9rem;
  position: relative;
}

@media (width >= 768px) {
  .information {
    font-size: var(--text-sm);
    inset: auto auto 2.3rem;
  }
}
