.container {
  @media (width >= 64rem) {
    padding: 0 10rem;
  }
}

.descriptionContainer {
  margin: 0.7rem 0 0;
}

.link {
  display: inline-flex;
  gap: 0.125rem;
  align-items: center;
  margin: 1rem 0 0;
  line-height: 1.4;
  color: rgb(var(--rose-500));
  border-bottom: 0.1rem solid rgb(var(--rose-500) / 70%);

  &:is(:active, :focus-visible) {
    color: rgb(var(--rose-500));
  }
}

.linkIcon {
  width: 1.125rem;
  height: 1.125rem;
  color: rgb(var(--rose-500) / 70%);
}
