@media (width >= 64rem) {
  .container {
    padding: 0 10rem;
  }
}

.descriptionContainer {
  margin: 0.7rem 0 0;
}

.link {
  align-items: center;
  border-bottom: 0.1rem solid rgb(var(--rose-500) / 70%);
  color: rgb(var(--rose-500));
  display: inline-flex;
  gap: 0.125rem;
  line-height: 1.4;
  margin: 1rem 0 0;
}

.link:active,
.link:focus-visible {
  color: rgb(var(--rose-500));
}

.linkIcon {
  color: rgb(var(--rose-500) / 70%);
  height: 1.125rem;
  width: 1.125rem;
}
