.input {
  width: 0;
  height: 0;
}

.button {
  display: inline;
  padding: 0.25rem 0.75rem;
  color: rgb(var(--gray-400));
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);

  .input:checked ~ & {
    color: rgb(var(--gray-100));
    background: rgb(var(--gray-600));
  }

  .input:focus-visible ~ & {
    outline: 2px solid rgb(var(--gray-400));
    outline-offset: 0.1rem;
  }
}
