.list {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin: 2.5rem 0 0;

  @media (width >= 48rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 3rem;
  }
}

.listItem {
  line-height: 1.25;
}

.link {
  font-size: 1.425rem;
  font-weight: 700;
  color: rgb(var(--rose-500));

  &:is(:active, :focus-visible) {
    color: rgb(var(--rose-500));
  }
}

.linkIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0 0 0.5rem;
  vertical-align: -0.15rem;
  color: rgb(var(--rose-500) / 60%);
}
