.comboboxContainer {
  position: relative;
}

.feedback {
  box-shadow: 0 0 0 1px rgb(var(--red-400));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.caretContainer {
  align-items: center;
  color: rgb(var(--gray-400));
  display: flex;
  inset: 0 0 0 auto;
  padding: 0 0.75rem;
  pointer-events: none;
  position: absolute;
}

.caret {
  height: 1rem;
  width: 1rem;
}
