.container {
  align-items: center;
  border-radius: var(--rounded);
  display: inline-flex;
  padding: 0.25rem 0.75rem;
}

@media (hover: hover) and (pointer: fine) {
  .container:hover {
    background: rgb(var(--gray-700));
    color: rgb(var(--gray-100));
  }
}

.container:active,
.container:focus-visible {
  background: rgb(var(--gray-700));
  color: rgb(var(--gray-100));
}
