.container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0;
  line-height: 1;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.active {
  color: rgb(var(--yellow-400));
}

.inactive {
  color: rgb(var(--gray-500));
}
