@mixin badge-variant($bg) {
  background-color: transparent;
  color: $bg;

  &[href] {
    @include hover-focus {
      background-color: transparent;
      color: color-yiq($bg);
      text-decoration: none;
    }
  }
}
