.container[aria-hidden="true"] {
  display: none;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.mainEmbedContainer {
  grid-column: span 12 / span 12;
  position: relative;
}

@media (width >= 768px) {
  .mainEmbedContainerAspectSquare {
    grid-column: span 8 / span 8;
    grid-column-start: 3;
  }
}

@media (width >= 1024px) {
  .mainEmbedContainerAspectSquare {
    grid-column: span 6 / span 6;
    grid-column-start: 4;
  }
}

.mainEmbed {
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  width: 100%;
}

.mainEmbedAspectSquare {
  aspect-ratio: 1 / 1;
}

.mainEmbedAspectVideo {
  aspect-ratio: 16 / 9;
}

.titleContainer {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  text-align: center;
}

.title {
  font-size: 1.2rem;
  margin: 1.5rem 0 0;
}

@media (width >= 768px) {
  .title {
    font-size: 1.4rem;
  }
}

.provider {
  font-size: var(--text-sm);
}

@media (width >= 768px) {
  .provider {
    font-size: var(--text-base);
  }
}

.footer {
  display: flex;
  font-size: var(--text-sm);
  font-weight: 700;
  justify-content: center;
  line-height: 2;
  margin: 1.5rem 0 0;
}

@media (width >= 768px) {
  .footer {
    font-size: var(--text-base);
  }
}

.footerLink {
  align-items: center;
  color: rgb(var(--rose-500));
  display: inline-flex;
  gap: 0.125rem;
}

.footerLink:active,
.footerLink:focus-visible {
  color: rgb(var(--rose-500));
}

.footerLinkIcon {
  color: rgb(var(--rose-500) / 60%);
  height: 1.25rem;
  width: 1.25rem;
}

.footerLinkDivider {
  margin: 0 0.5rem;
}
