html {
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: 1.7;
  color: rgb(var(--gray-400));
  background: rgb(var(--gray-800));
}

h1 {
  font-size: var(--text-5xl);
  font-weight: 700;
  line-height: 1.5;
  color: rgb(var(--gray-100));
}

h2 {
  font-size: var(--text-4xl);
  font-weight: 700;
  line-height: 1.5;
  color: rgb(var(--gray-100));
}

a {
  color: rgb(var(--gray-400));

  &:active,
  &:focus-visible {
    color: rgb(var(--gray-100));
  }
}

button {
  cursor: pointer;
}

img {
  vertical-align: middle;
}

iframe {
  vertical-align: middle;
  border: none;
}

svg {
  vertical-align: middle;
}

label {
  display: block;
  color: rgb(var(--gray-200));
}

input {
  &[type="text"],
  &[type="search"],
  &[type="password"] {
    width: 100%;
    padding: 0.25rem 0.75rem;
    border-radius: var(--rounded);
  }
}

textarea {
  display: inline-block;
  width: 100%;
  min-height: 7.5rem;
  padding: 0.25rem 0.75rem;
  resize: both;
  border-radius: var(--rounded);
}

select {
  width: 100%;
  padding: 0.25rem 0.75rem;
  vertical-align: middle;
  border-radius: var(--rounded);

  &:disabled {
    color: rgb(var(--gray-500));
  }
}

:focus {
  outline: revert;
}

::marker {
  content: revert;
}

::placeholder {
  color: rgb(var(--gray-500));
}
