.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  width: 100%;
  padding: 2.5rem 1rem 6rem;
  margin: 0 auto;

  @media (width >= 48rem) {
    max-width: 48rem;
  }

  @media (width >= 64rem) {
    max-width: 64rem;
    padding: 2.5rem 8rem 6rem;
  }

  @media (width >= 80rem) {
    max-width: 80rem;
  }

  @media (width >= 96rem) {
    max-width: 96rem;
  }
}
