// Navbar
.nav-link {
  @include media-breakpoint-down(md) {
    &::before {
      content: "";
      display: inline-block;
      margin-right: 0.8rem;
    }
  }
}

.nav-link.active {
  @include media-breakpoint-down(md) {
    &::before {
      background-color: var(--bs-primary);
      border-radius: 50%;
      bottom: 2px;
      height: 8px;
      margin-right: 0.3rem;
      position: relative;
      width: 8px;
    }
  }

  @include media-breakpoint-up(md) {
    background: linear-gradient(transparent 92%, var(--bs-primary) 92%);
  }
}

// Dropdown
.dropdown-menu {
  height: auto;
  max-height: 352px;
  overflow-x: hidden;
}

// Tag
.tag {
  color: var(--bs-body-color);
  display: inline-block;
  line-height: 1;
  margin-right: 0.8rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  &:hover {
    color: var(--bs-light);
  }
}
