@use "sass:color";

// Color system
$white:             #eceff4;
$gray-300:          #b7b4c7;
$gray-700:          #35333c;
$gray-800:          #24222b;
$gray-900:          #13111a;
$black:             #02000b;
$colors: (
  "white":          $white,
  "gray-300":       $gray-300,
  "gray-700":       $gray-700,
  "gray-800":       $gray-800,
  "gray-900":       $gray-900,
  "black":          $black
);
$primary:           #c45c65;
$light:             $white;
$dark:              $gray-800;
$theme-colors: (
  "primary":    $primary,
  "light":      $light,
  "dark":       $dark,
);

// Options
$enable-caret:              false;
$enable-shadows:            true;
$enable-smooth-scroll:      false;
$enable-validation-icons:   false;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
);

// Body
$body-bg:     $gray-900;
$body-color:  $gray-300;

// Links
$link-decoration:                         none;
$link-color:                              $primary;
$link-shade-percentage:                   0%;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px
);

// Components
$border-radius:               0.25rem;
$box-shadow:                  0 0.5rem 1rem $black;
$box-shadow-sm:               0 0.125rem 0.1rem $black;
$component-active-bg:         $light;

// Typography
$headings-color:              $light;
$text-muted:                  #9491a5;
$hr-margin-y:                 $spacer * 0.5;
$small-font-size:             0.675em;

// Buttons + Forms
$input-btn-focus-box-shadow:            0 0 0 0.2rem color.scale($light, $lightness: 0%, $alpha: -40%);

// Forms
$input-bg:                              $black;
$input-disabled-bg:                     $gray-700;
$input-color:                           $body-color;
$input-border-color:                    $gray-700;
$input-placeholder-color:               $text-muted;

// Navbar
$navbar-nav-link-padding-x:         0.8rem;
$navbar-dark-color:                 $body-color;
$navbar-dark-hover-color:           $light;
$navbar-dark-toggler-border-color:  none;
$navbar-toggler-padding-x:          0.5rem;
$navbar-toggler-font-size:          1rem;
$navbar-toggler-focus-width:        0.1rem;

// Dropdowns
$dropdown-bg:                       $body-bg;
$dropdown-border-width:             0;
$dropdown-divider-bg:               $gray-700;
$dropdown-box-shadow:               $box-shadow;
$dropdown-link-color:               $body-color;
$dropdown-link-hover-color:         $light;
$dropdown-link-hover-bg:            $dark;
$dropdown-link-active-bg:           $primary;
$dropdown-header-color:             $text-muted;

// Pagination
$pagination-padding-y:              0.5rem;
$pagination-bg:                     transparent;
$pagination-border-width:           0;
$pagination-focus-bg:               color.scale($white, $lightness: 0%, $alpha: -95%);
$pagination-hover-bg:               transparent;
$pagination-disabled-color:         $text-muted;
$pagination-disabled-bg:            transparent;

// Close
$btn-close-color:            $body-color;
$btn-close-opacity:          1;
$btn-close-hover-opacity:    1;
