.container {
  padding: 0.75rem;
  font-size: var(--text-sm);

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-100));
      background: rgb(var(--gray-700));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--gray-100));
    background: rgb(var(--gray-700));
  }

  details[open] & {
    color: rgb(var(--gray-100));
    background: rgb(var(--gray-700));
  }
}

.icon {
  color: rgb(var(--gray-400) / 70%);

  @media (any-hover: hover) {
    .container:hover & {
      color: rgb(var(--gray-400));
    }
  }

  .container:is(:active, :focus-visible) & {
    color: rgb(var(--gray-400));
  }
}
