@use "sass:color";

// Color system
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #919191;
$gray-600: #5e5e5e;
$gray-700: #474747;
$gray-800: #2e2e2e;
$gray-900: #222;
$black:    #000;

$primary:       #cc6055;
$secondary:     $gray-500;
$light:         $gray-100;
$dark:          $gray-800;

// Options
$enable-caret:              false;
$enable-shadows:            true;
$enable-validation-icons:   false;

// Spacing
$spacer: 1rem;

// Body
$body-bg:     $gray-900;
$body-color:  $gray-400;

// Links
$link-hover-color:                        color.scale($primary, $lightness: -25%);

$link-hover-decoration:                   none;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px
);

// Components
$border-radius:               0.25rem;
$border-radius-sm:            0.15rem;

$component-active-color:      $white;
$component-active-bg:         $primary;

$transition-collapse:         height 0.3s ease;

// Typography
$font-family-sans-serif:      "Source Sans Pro", "游ゴシック体", "Yu Gothic", yugothic sans-serif;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1rem;
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * 0.875);

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-base:            $font-weight-normal;

$text-muted:                  $gray-600;

$hr-border-color:             rgba($white, 0.08);
$hr-margin-y:                 $spacer / 2;

// Forms
$input-bg:                              color.scale($gray-900, $lightness: -10%);
$input-color:                           color.scale($gray-400, $lightness: -25%);
$input-border-color:                    $gray-800;

$input-btn-focus-width:                 0.2rem;
$input-btn-focus-color:                 rgba($component-active-bg, 0.25);
$input-btn-focus-box-shadow:            0 0 0 $input-btn-focus-width $input-btn-focus-color;

// Navbar
$navbar-nav-link-padding-x:         0.8rem;

$navbar-dark-color:                 rgba($white, 0.5);
$navbar-dark-hover-color:           rgba($white, 0.75);
$navbar-dark-active-color:          $white;
$navbar-dark-toggler-border-color:  none;

$navbar-toggler-font-size:          $font-size-base;

$navbar-brand-font-size:            $font-size-lg;

// Dropdowns
$dropdown-bg:                       $body-bg;
$dropdown-link-color:               $gray-500;
$dropdown-link-hover-color:         $gray-300;
$dropdown-link-hover-bg:            $gray-800;
$dropdown-divider-bg:               $gray-800;
$dropdown-box-shadow:               0 0.5rem 1rem rgba($black, 0.175);

// Pagination
$pagination-bg:             transparent;
$pagination-border-color:   none;
$pagination-hover-color:    $link-hover-color;
$pagination-hover-bg:       rgba(55, 55, 55, 0.4);
$pagination-disabled-bg:    transparent;

// Cards
$card-spacer-y:                     0.8rem;
$card-spacer-x:                     0.6rem;

$card-border-color:                 $body-bg;

// Badges
$badge-font-size:                   88%;
$badge-font-weight:                 $font-weight-normal;
