.pagination {
  > li {
    @include media-breakpoint-down(sm) {
      font-size: 80%;
    }
  }
}

.page-link {
  &:active {
    background-color: $pagination-focus-bg;
    box-shadow: $pagination-focus-box-shadow;
    color: $pagination-focus-color;
  }
}
