.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.descriptionIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.25rem 0 0;
  vertical-align: -0.25rem;
}

.link {
  gap: 0.25rem;
  margin: 2.5rem 0 0;
  color: rgb(var(--rose-500));

  &:is(:active, :focus-visible) {
    color: rgb(var(--rose-500));
  }
}

.linkIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.125rem 0 0;
  vertical-align: -0.25rem;
  color: rgb(var(--rose-500) / 60%);
}
