.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 70vh;
  justify-content: center;
}

.descriptionIcon {
  height: 1.25rem;
  margin: 0 0.25rem 0 0;
  vertical-align: -0.25rem;
  width: 1.25rem;
}

.link {
  color: rgb(var(--rose-500));
  gap: 0.25rem;
  margin: 2.5rem 0 0;
}

.link:active,
.link:focus-visible {
  color: rgb(var(--rose-500));
}

.linkIcon {
  color: rgb(var(--rose-500) / 60%);
  height: 1.25rem;
  margin: 0 0.125rem 0 0;
  vertical-align: -0.25rem;
  width: 1.25rem;
}
