.recentTitleSuffix {
  font-size: var(--text-base);
  color: rgb(var(--gray-400));
}

.recentMain {
  margin: 0.25rem 0 0;

  @media (width >= 48rem) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }

  @media (width >= 80rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.recentMainCardIcon {
  width: 1rem;
  height: 1rem;

  @media (width >= 48rem) {
    width: 1.125rem;
    height: 1.125rem;
  }
}

.search {
  margin: 2.5rem 0 0;
}

.searchTitleSuffix {
  font-size: var(--text-base);
  color: rgb(var(--gray-400));
}

.searchList {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem 1.25rem;
  margin: 0.25rem 0 0;
}

.searchLink {
  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-100));
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
  font-weight: 700;
  line-height: 2;
}

.footerLink {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  color: rgb(var(--rose-500));

  &:is(:active, :focus-visible) {
    color: rgb(var(--rose-500));
  }
}

.footerLinkDivider {
  margin: 0 0.5rem;
}

.footerLinkIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: rgb(var(--rose-500) / 60%);
}
