.container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem 0.75rem;
  line-height: 1;
}

@media (any-hover: hover) {
  .link:hover {
    color: rgb(var(--gray-100));
  }
}

.linkIcon {
  height: 1.5rem;
  width: 1.5rem;
}
