.container {
  align-items: center;
  background: rgb(var(--gray-700));
  display: flex;
  gap: 0.125rem;
  justify-content: center;
}

.action {
  line-height: 0;
  padding: 0.125rem;
}

@media (any-hover: hover) {
  .action:hover {
    color: rgb(var(--gray-100));
  }
}

.action:active,
.action:focus-visible {
  color: rgb(var(--gray-100));
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}
