@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  gap: 0.25rem;
}

.color {
  background: rgb(var(--gray-400));
}

.size {
  width: 7px;
  height: 7px;
}

.dot1 {
  border-radius: 10rem;
  animation: fadein 0.5s ease 0.1s infinite;
}

.dot2 {
  border-radius: 10rem;
  animation: fadein 0.5s ease 0.2s infinite;
}

.dot3 {
  border-radius: 10rem;
  animation: fadein 0.5s ease 0.3s infinite;
}
