.container {
  background: rgb(var(--gray-700));
  box-shadow: 0 -1px 2px rgb(var(--gray-900));
  color: rgb(var(--rose-500));
  font-size: var(--text-sm);
  inset: auto auto 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.main {
  align-items: center;
  display: flex;
  font-weight: 700;
  gap: 0.25rem;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;
}

@media (width >= 48rem) {
  .main {
    max-width: 48rem;
  }
}

@media (width >= 64rem) {
  .main {
    max-width: 64rem;
    padding: 0 8rem;
  }
}

@media (width >= 80rem) {
  .main {
    max-width: 80rem;
  }
}

@media (width >= 96rem) {
  .main {
    max-width: 96rem;
  }
}

.mainIcon {
  height: 1.25rem;
  width: 1.25rem;
}
