@import "../../assets/css/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/text-truncate";

.card {
  position: relative;

  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid var(--bs-gray-700);
    display: flex;
    padding: 0.8rem 0;
  }

  @include media-breakpoint-up(sm) {
    background-color: var(--bs-dark);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: $box-shadow-sm;
    margin-bottom: 0.4rem;
  }
}

.imagewrap {
  display: flex;

  @include media-breakpoint-down(sm) {
    height: 30%;
    width: 30%;
  }
}

.image {
  opacity: 0.7;
  width: 100%;

  @include media-breakpoint-down(sm) {
    border-radius: $border-radius;
  }

  @include media-breakpoint-up(sm) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.play {
  align-items: center;
  color: var(--bs-light);
  display: flex;
  justify-content: center;
  opacity: 0.6;

  @include media-breakpoint-down(sm) {
    font-size: 150%;
  }

  @include media-breakpoint-up(sm) {
    font-size: 300%;
  }
}

.body {
  text-align: center;

  @include media-breakpoint-down(sm) {
    width: 70%;
  }

  @include media-breakpoint-up(sm) {
    padding: 1rem 1rem 0.5rem;
  }
}

.title {
  font-weight: bold;

  @include text-truncate;

  @include media-breakpoint-down(sm) {
    padding: 0 0.5rem;
  }

  @include media-breakpoint-up(sm) {
    font-size: 110%;
    margin-bottom: 0.5rem;
  }
}

.text {
  padding: 0 0.5rem;

  @include media-breakpoint-down(sm) {
    padding-bottom: 1.5rem;
  }
}

.footer {
  color: $text-muted;
  font-size: 0.9rem;

  @include media-breakpoint-down(sm) {
    bottom: 0.5rem;
    position: absolute;
    right: 0.5rem;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 1rem;
    text-align: right;
  }
}
