.container {
  margin: -1rem 0 -1.5rem;
}

.header {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  align-items: center;
  font-size: var(--text-sm);

  @media (width >= 48rem) {
    display: flex;
    flex-flow: row;
    gap: 0.15rem;
    align-items: center;
    justify-content: center;
    font-size: var(--test-base);
  }
}

.headerReset {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.125rem 0.5rem;
  border-radius: var(--rounded);

  @media (width >= 48rem) {
    padding: 0.25rem 0.75rem;
  }

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-100));
      background: rgb(var(--gray-700));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--gray-100));
    background: rgb(var(--gray-700));
  }
}

.headerResetIcon {
  width: 1.125rem;
  height: 1.125rem;
  color: rgb(var(--gray-400) / 70%);

  @media (any-hover: hover) {
    .headerReset:hover & {
      color: rgb(var(--gray-400));
    }
  }
}

.headerTotalCount {
  display: none;

  @media (width >= 48rem) {
    display: block;
    padding: 0.25rem 0.75rem;
  }
}

.headerDropdowns {
  display: flex;
  gap: 0.25rem;
}

.headerDropdown {
  padding: 0.5rem;

  @media (width >= 48rem) {
    padding: 0.6rem 0.75rem;
  }

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-100));
      background: rgb(var(--gray-700));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--gray-100));
    background: rgb(var(--gray-700));
  }
}

details[open] .headerDropdown {
  color: rgb(var(--gray-100));
  background: rgb(var(--gray-700));
}

.headerDropdownIcon {
  color: rgb(var(--gray-400) / 70%);

  @media (any-hover: hover) {
    .headerDropdown:hover & {
      color: rgb(var(--gray-400));
    }
  }

  .headerDropdown:is(:active, :focus-visible) & {
    color: rgb(var(--gray-400));
  }
}

details[open] .headerDropdown .headerDropdownIcon {
  color: rgb(var(--gray-400));
}

.headerDropdownError {
  display: inline-flex;
  align-items: center;
  color: rgb(var(--red-400));
}

.headerDropdownErrorIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.searchFormContainer {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  width: 100%;
  margin: 0.75rem 0 0;

  @media (width >= 48rem) {
    display: none;
  }
}

.searchForm {
  background: rgb(var(--gray-900));
  border: 1px solid rgb(var(--gray-700));
}

.searchFormTotalCount {
  display: flex;
  justify-content: flex-end;
  font-size: var(--text-sm);
}

.main {
  margin: 1.5rem 0 0;

  @media (width >= 48rem) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }

  @media (width >= 80rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.trackCardIcon {
  width: 1rem;
  height: 1rem;

  @media (width >= 48rem) {
    width: 1.125rem;
    height: 1.125rem;
    margin: 0.1rem 0 0;
  }
}

.pagination {
  margin: 2rem 0 0;
}
