.container {
  background: rgb(var(--gray-700));
  box-shadow: 0 1px 2px 0 rgb(var(--gray-900));
  line-height: 1.7;
  width: 100%;
}

.pc {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

@media (width >= 48rem) {
  .pc {
    max-width: 48rem;
  }
}

@media (width >= 64rem) {
  .pc {
    max-width: 64rem;
    padding: 0 8rem;
  }
}

@media (width >= 80rem) {
  .pc {
    max-width: 80rem;
  }
}

@media (width >= 96rem) {
  .pc {
    max-width: 96rem;
  }
}

.brandLinkContainer {
  margin: 0.75rem 1rem 0.75rem 0;
}

.brandLink {
  border-radius: var(--rounded);
  color: rgb(var(--gray-100));
  font-size: var(--text-base);
  font-weight: 900;
  padding: 0.5rem 0;
}

.mainLinkContainer {
  display: none;
}

@media (width >= 48rem) {
  .mainLinkContainer {
    display: block;
  }
}

.mainLink {
  border-radius: var(--rounded);
  font-size: var(--text-sm);
  padding: 0.5rem 0.75rem;
}

.mainLink[aria-current="page"] {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

@media (any-hover: hover) {
  .mainLink:hover {
    background: rgb(var(--gray-600) / 50%);
    color: rgb(var(--gray-100));
  }
}

.mainLink:active,
.mainLink:focus-visible {
  background: rgb(var(--gray-600) / 50%);
  color: rgb(var(--gray-100));
}

.subLinksAndMoreLinksDropdownContainer {
  display: none;
}

@media (width >= 48rem) {
  .subLinksAndMoreLinksDropdownContainer {
    display: block;
  }
}

@media (width >= 96rem) {
  .subLinksAndMoreLinksDropdownContainer {
    display: none;
  }
}

.subLinksAndMoreLinksDropdown {
  padding: 0.45rem 0.5rem;
}

@media (any-hover: hover) {
  .subLinksAndMoreLinksDropdown:hover {
    background: rgb(var(--gray-600) / 50%);
    color: rgb(var(--gray-100));
  }
}

.subLinksAndMoreLinksDropdown:active,
.subLinksAndMoreLinksDropdown:focus-visible,
details[open] .subLinksAndMoreLinksDropdown {
  background: rgb(var(--gray-600) / 50%);
  color: rgb(var(--gray-100));
}

.subLinkContainer {
  display: none;
}

@media (width >= 96rem) {
  .subLinkContainer {
    display: block;
  }
}

.subLink {
  border-radius: var(--rounded);
  font-size: var(--text-sm);
  padding: 0.5rem 0.75rem;
}

@media (any-hover: hover) {
  .subLink:hover {
    background: rgb(var(--gray-600) / 50%);
    color: rgb(var(--gray-100));
  }
}

.subLink[aria-current="page"] {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.moreLinksDropdownContainer {
  display: none;
}

@media (width >= 96rem) {
  .moreLinksDropdownContainer {
    display: block;
  }
}

.moreLinksDropdown {
  padding: 0.45rem 0.5rem;
}

@media (any-hover: hover) {
  .moreLinksDropdown:hover {
    background: rgb(var(--gray-600) / 50%);
    color: rgb(var(--gray-100));
  }
}

.moreLinksDropdown:active,
.moreLinksDropdown:focus-visible,
details[open] .moreLinksDropdown {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.searchFormContainer {
  display: none;
  margin: 0 0 0 auto;
}

@media (width >= 48rem) {
  .searchFormContainer {
    display: block;
  }
}

.menuContainer {
  margin: 0 0 0 auto;
}

@media (width >= 48rem) {
  .menuContainer {
    display: none;
  }
}

.menu {
  border-radius: var(--rounded);
  line-height: 1;
  margin: 0 -0.25rem 0 0;
  padding: 0.5rem;
}

.menu[aria-expanded="true"] {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.menuIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.mobile {
  overflow: hidden;
  transition: max-height 0.3s;
}

@media (width >= 48rem) {
  .mobile {
    display: none;
  }
}

.mobileActive {
  margin: 0 0 0.75rem;
  max-height: 22rem;
}

.mobileInactive {
  max-height: 0;
}

.mobileLink {
  display: block;
  font-size: var(--text-sm);
  margin: 0.125rem 0;
  padding: 0.375rem 1rem;
}

.mobileLink:active {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.mobileLink[aria-current="page"] {
  color: rgb(var(--gray-100));
  font-weight: 700;
}
