.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  margin: 0 auto;
  padding: 1.5rem 1rem 7rem;
  width: 100%;
}

@media (width >= 768px) {
  .main {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .main {
    max-width: 1024px;
    padding: 1.5rem 8rem 7rem;
  }
}

@media (width >= 1280px) {
  .main {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .main {
    max-width: 1536px;
  }
}

.mainHeader {
  display: flex;
  font-size: var(--text-sm);
  gap: 0.5rem;
  justify-content: center;
}

@media (width >= 768px) {
  .mainHeader {
    font-size: var(--text-base);
  }
}
