.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  width: 100%;
  padding: 1.5rem 1rem 7rem;
  margin: 0 auto;

  @media (width >= 48rem) {
    max-width: 48rem;
  }

  @media (width >= 64rem) {
    max-width: 64rem;
    padding: 1.5rem 8rem 7rem;
  }

  @media (width >= 80rem) {
    max-width: 80rem;
  }

  @media (width >= 96rem) {
    max-width: 96rem;
  }
}

.mainHeader {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  font-size: var(--text-sm);

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }
}
