.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  margin: 0 auto;
  padding: 1.5rem 1rem 7rem;
  width: 100%;
}

@media (width >= 48rem) {
  .main {
    max-width: 48rem;
  }
}

@media (width >= 64rem) {
  .main {
    max-width: 64rem;
    padding: 1.5rem 8rem 7rem;
  }
}

@media (width >= 80rem) {
  .main {
    max-width: 80rem;
  }
}

@media (width >= 96rem) {
  .main {
    max-width: 96rem;
  }
}

.mainHeader {
  display: flex;
  font-size: var(--text-sm);
  gap: 0.5rem;
  justify-content: center;
}

@media (width >= 48rem) {
  .mainHeader {
    font-size: var(--text-base);
  }
}
