.container {
  margin: 1.5rem 0 0;
}

.detail {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.contentLink {
  align-items: center;
  color: rgb(var(--rose-500));
  display: inline-flex;
  font-weight: 700;
  gap: 0.25rem;
}

.contentLink:active,
.contentLink:focus-visible {
  color: rgb(var(--rose-500));
}

.contentLinkIcon {
  color: rgb(var(--rose-500) / 60%);
  height: 1rem;
  width: 1rem;
}

.action {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
}

.actionButton {
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;
}

@media (any-hover: hover) {
  .actionButton:hover {
    background: rgb(var(--gray-700));
    color: rgb(var(--gray-100));
  }
}

.actionButton:active,
.actionButton:focus-visible {
  background: rgb(var(--gray-700));
  color: rgb(var(--gray-100));
}

.actionButtonIcon {
  height: 1rem;
  width: 1rem;
}
