.container {
  margin: 2rem 0 0;
}

.recentTitleSuffix {
  color: rgb(var(--gray-400));
  font-size: var(--text-base);
}

.information {
  color: rgb(var(--amber-500));
}

.informationIcon {
  height: 1.25rem;
  margin: 0 0.25rem 0 0;
  vertical-align: -0.25rem;
  width: 1.25rem;
}

.informationLink {
  color: rgb(var(--amber-500));
  text-decoration: underline;
}

@media (width >= 768px) {
  .main {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >= 1536px) {
  .main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.mainCardLink {
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;
}

@media (width >= 768px) {
  .mainCardLink:hover {
    color: rgb(var(--gray-100));
  }
}

.mainCardLinkIcon {
  height: 1rem;
  width: 1rem;
}

@media (width >= 768px) {
  .mainCardLinkIcon {
    height: 1.125rem;
    width: 1.125rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
}

.footerButton {
  background: rgb(var(--rose-500));
  border-radius: var(--rounded);
  box-shadow: 0 1px 2px 0 rgb(var(--gray-900));
  color: rgb(var(--gray-100));
  font-weight: 700;
  margin: 3rem 0 0;
  padding: 0.25rem 1.125rem 0.3rem;
}
