@media (width >= 64rem) {
  .container {
    padding: 0 10rem;
  }
}

.form {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.fieldset {
  width: 100%;
}

@media (width >= 48rem) {
  .fieldset {
    width: 50%;
  }
}

.textbox {
  background: rgb(var(--gray-900));
  border: 1px solid rgb(var(--gray-700));
}
