.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 65vh;
  justify-content: center;
}

.information {
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;
}

.informationIcon {
  height: 1rem;
  width: 1rem;
}

.button {
  background: rgb(var(--rose-500));
  border-radius: var(--rounded);
  box-shadow: 0 1px 2px 0 rgb(var(--gray-900));
  color: rgb(var(--gray-100));
  font-weight: 700;
  margin: 2rem 0 0;
  padding: 0.25rem 1.125rem 0.3rem;
}

.button:disabled {
  background: rgb(var(--gray-700));
  color: rgb(var(--gray-400));
}
