.container {
  background: rgb(var(--gray-700));
  box-shadow: 0 -1px 2px rgb(var(--gray-900));
  font-size: var(--text-sm);
  inset: auto auto 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}

@media (width >= 48rem) {
  .container {
    font-size: var(--text-base);
  }
}

.active {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

@media (width >= 64rem) {
  .active {
    margin: 0.5rem auto;
    max-width: 64rem;
  }
}

.link {
  color: rgb(var(--gray-100));
  font-weight: 600;
  margin: 0 0.25rem 0 1rem;
  overflow: hidden;
  padding: 0.5rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close {
  border-radius: var(--rounded);
  margin: 0 0.5rem 0 0;
  padding: 0.4rem 0.5rem;
}

@media (any-hover: hover) {
  .close:hover {
    background: rgb(var(--gray-600));
    color: rgb(var(--gray-100));
  }
}

.close:active,
.close:focus-visible {
  background: rgb(var(--gray-600));
  color: rgb(var(--rose-500));
}

.closeIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.inactive {
  color: rgb(var(--gray-100));
  font-weight: 600;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}
