.container {
  position: fixed;
  inset: auto auto 0;
  z-index: 20;
  width: 100%;
  font-size: var(--text-sm);
  background: rgb(var(--gray-700));
  box-shadow: 0 -1px 2px rgb(var(--gray-900));

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;

  @media (width >= 64rem) {
    max-width: 64rem;
    margin: 0.5rem auto;
  }
}

.link {
  padding: 0.5rem 0;
  margin: 0 0.25rem 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: rgb(var(--gray-100));
  white-space: nowrap;
}

.close {
  padding: 0.4rem 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: var(--rounded);

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-100));
      background: rgb(var(--gray-600));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--rose-500));
    background: rgb(var(--gray-600));
  }
}

.closeIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.inactive {
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  font-weight: 600;
  color: rgb(var(--gray-100));
  text-align: center;
}
